<%- include('parts/header.ejs') %>
</head>

<body id="home">
    <!-- ===================================navbar===================================== -->
    <%- include('parts/navbar.ejs') %>
    <!-- ===================================/navbar===================================== -->

    <div class="cover">

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="person card pb-5 px-5  text-center">
                    <img src="/<%=userImage%>" width="250" alt="">
                </div>
            </div>
            <div class="col-md-8 pt-4">
                <h2 class="text-capitalize"><%=pageTitle%></h2>
                <h4 class="text-muted">Full Stack Web</h4>

                <%for(let userPost of userPosts){%>
                    <div class="post card p-4 auto">
                    <div class="media">
                        <img src="/<%=userImage%>" width="60" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 text-capitalize"><%=userPost.userID.firstName%> <%=userPost.userID.lastName%></h5>
                          <%=userPost.publishDate.toLocaleString().split(',')[0]%> - <%=userPost.publishDate.toLocaleString().split(',')[1]%>
                            
                            <!--<%if(userPost.publishDate>Date().toLocaleString()){%>
                                <%=userPost.publishDate.toLocaleString().split(',')[1]%> 
                            <%}else{%>
                                <%=userPost.publishDate.toLocaleString().split(',')[0]%> 
                            <%}%> -->
                        </div>
                        <div class="float-right">
                            <a href="/editPost/<%= userPost._id%>"><i class="fas fa-edit "></i></a>
                            <a href="/deletePost/<%= userPost._id%>"><i class="far fa-trash-alt text-danger"></i></a>
                        </div>
                    </div>
                    <hr>
                    <h3><%=userPost.postTitle%></h3>
                    <p class="pt-4"><%=userPost.postContent%></p>
                </div>
                <%}%>
            </div>
        </div>
    </div>
<%- include('parts/footer.ejs') %>